<div class="min-h-screen bg-[#fdfdfd] flex items-center justify-center px-4">
  <div class="w-full max-w-md space-y-6">

    <!-- Logo -->
    <!-- <div class="flex flex-col items-center text-center">
    </div> -->

    <!-- Formulario -->
    <div class="bg-white shadow-lg rounded-xl p-6 space-y-4">
      <h2 class="text-xl font-semibold text-center text-gray-700">Iniciar sesión</h2>

      <form [formGroup]="form" (ngSubmit)="login()" class="space-y-4">
        <!-- Email -->
        <div>
          <label for="email" class="block text-sm font-medium text-gray-700 mb-1">Correo electrónico</label>
          <input type="email" id="email" formControlName="email" placeholder="Ingrese su correo"
            class="w-full px-4 py-2 border rounded-lg focus:outline-none" />
          <p *ngIf="form.get('email')?.touched && form.get('email')?.invalid" class="text-sm text-red-500 mt-1">
            {{ form.get('email')?.hasError('required') ? 'Correo requerido' : 'Correo inválido' }}
          </p>
        </div>

        <!-- Password -->
        <div class="relative">
          <label for="password" class="block text-sm font-medium text-gray-700 mb-1">Contraseña</label>
          <input [type]="showPassword ? 'text' : 'password'" id="password" formControlName="password"
            placeholder="Ingrese su contraseña"
            class="w-full px-4 py-2 border rounded-lg focus:outline-none pr-10" />
          <button type="button" (click)="togglePasswordVisibility()"
            class="absolute top-9 right-3 text-gray-500 hover:text-gray-700"
            [attr.aria-label]="showPassword ? 'Ocultar contraseña' : 'Mostrar contraseña'">
            <i [ngClass]="showPassword ? 'fa-solid fa-eye-slash' : 'fa-solid fa-eye'"></i>
          </button>
          <p *ngIf="form.get('password')?.touched && form.get('password')?.invalid"
            class="text-sm text-red-500 mt-1">
            Contraseña requerida
          </p>
        </div>

        <!-- <h3>{{error()}}</h3> -->

        <button type="submit"
          class="w-full bg-primary hover:bg-primary-500 text-white font-semibold py-2 px-4 rounded-lg transition disabled:opacity-50"
          [disabled]="form.invalid">
          Iniciar sesión
        </button>
      </form>

      <p class="text-center text-sm text-gray-600 mt-4">
        ¿No tienes una cuenta?
        <a routerLink="/auth/register" class="text-primary font-semibold hover:underline">Regístrate</a>
      </p>

    </div>
  </div>
</div>
